USE [master]
GO
/****** Object:  Database [TheStoreDB]    Script Date: 9/6/2025 4:00:36 AM ******/
CREATE DATABASE [TheStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TheStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TheStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TheStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TheStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TheStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TheStoreDB]
GO
/****** Object:  Table [dbo].[Attributes]    Script Date: 9/6/2025 4:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attributes](
	[Id] [int] IDENTITY(1000,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 9/6/2025 4:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(10000,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/6/2025 4:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(10000,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ParentId] [int] NULL,
	[lft] [int] NOT NULL,
	[rgt] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 9/6/2025 4:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[Id] [int] IDENTITY(10000,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 9/6/2025 4:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Id] [int] IDENTITY(10000,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 9/6/2025 4:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1000,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[TrackingId] [nvarchar](255) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/6/2025 4:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [bigint] IDENTITY(1000,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[AnonymousUserId] [nvarchar](255) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttributes]    Script Date: 9/6/2025 4:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributes](
	[Id] [int] IDENTITY(10000,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[AttributeId] [int] NOT NULL,
	[Value] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 9/6/2025 4:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/6/2025 4:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(10000000,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ColorId] [int] NULL,
	[MaterialId] [int] NULL,
	[BrandId] [int] NULL,
	[TotalStockQuantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsHot] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[MainImageUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSizes]    Script Date: 9/6/2025 4:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSizes](
	[itemSizeId] [int] IDENTITY(1,1) NOT NULL,
	[TrackingId] [nvarchar](255) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SizeId] [int] NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[itemSizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 9/6/2025 4:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[SizeCode] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attributes] ON 

INSERT [dbo].[Attributes] ([Id], [Name]) VALUES (1000, N'Fit')
INSERT [dbo].[Attributes] ([Id], [Name]) VALUES (1002, N'Season')
INSERT [dbo].[Attributes] ([Id], [Name]) VALUES (1001, N'Sleeve Length')
SET IDENTITY_INSERT [dbo].[Attributes] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([Id], [Name]) VALUES (10000, N'Brand A')
INSERT [dbo].[Brands] ([Id], [Name]) VALUES (10001, N'Brand B')
INSERT [dbo].[Brands] ([Id], [Name]) VALUES (10002, N'Brand C')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [ParentId], [lft], [rgt], [ImageUrl]) VALUES (10011, N'Apparel', NULL, 1, 20, N'http://example.com/images/categories/apparel.jpg')
INSERT [dbo].[Categories] ([Id], [Name], [ParentId], [lft], [rgt], [ImageUrl]) VALUES (10012, N'Shoes', NULL, 21, 40, N'http://example.com/images/categories/shoes.jpg')
INSERT [dbo].[Categories] ([Id], [Name], [ParentId], [lft], [rgt], [ImageUrl]) VALUES (10013, N'Tops', 10011, 2, 9, N'http://example.com/images/categories/tops.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([Id], [Name]) VALUES (10000, N'Black')
INSERT [dbo].[Colors] ([Id], [Name]) VALUES (10002, N'Blue')
INSERT [dbo].[Colors] ([Id], [Name]) VALUES (10004, N'Green')
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([Id], [Name]) VALUES (10000, N'Cotton')
INSERT [dbo].[Materials] ([Id], [Name]) VALUES (10001, N'Denim')
INSERT [dbo].[Materials] ([Id], [Name]) VALUES (10002, N'Leather')
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderId], [TrackingId], [Quantity], [UnitPrice], [CreatedAt], [UpdatedAt]) VALUES (1001, 1001, N'TB-01', 1, CAST(15.00 AS Decimal(18, 2)), CAST(N'2025-09-03T23:48:00.600' AS DateTime), CAST(N'2025-09-03T23:48:00.600' AS DateTime))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [TrackingId], [Quantity], [UnitPrice], [CreatedAt], [UpdatedAt]) VALUES (1002, 1001, N'JF-02', 1, CAST(50.00 AS Decimal(18, 2)), CAST(N'2025-09-03T23:48:00.600' AS DateTime), CAST(N'2025-09-03T23:48:00.600' AS DateTime))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [TrackingId], [Quantity], [UnitPrice], [CreatedAt], [UpdatedAt]) VALUES (1003, 1002, N'TB-01', 1, CAST(15.00 AS Decimal(18, 2)), CAST(N'2025-09-05T04:29:07.133' AS DateTime), CAST(N'2025-09-05T04:29:07.133' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderDate], [AnonymousUserId], [TotalPrice], [Status], [CreatedAt], [UpdatedAt]) VALUES (1000, CAST(N'2025-09-03T23:44:03.813' AS DateTime), N'anonymous_user_123', CAST(75.00 AS Decimal(18, 2)), 1, CAST(N'2025-09-03T23:44:03.813' AS DateTime), CAST(N'2025-09-03T23:44:03.813' AS DateTime))
INSERT [dbo].[Orders] ([Id], [OrderDate], [AnonymousUserId], [TotalPrice], [Status], [CreatedAt], [UpdatedAt]) VALUES (1001, CAST(N'2025-09-03T23:48:00.597' AS DateTime), N'anonymous_user_123', CAST(75.00 AS Decimal(18, 2)), 1, CAST(N'2025-09-03T23:48:00.597' AS DateTime), CAST(N'2025-09-03T23:48:00.597' AS DateTime))
INSERT [dbo].[Orders] ([Id], [OrderDate], [AnonymousUserId], [TotalPrice], [Status], [CreatedAt], [UpdatedAt]) VALUES (1002, CAST(N'2025-09-05T04:29:06.500' AS DateTime), N'6c82db75-7848-4d36-91de-31735048938f', CAST(225.00 AS Decimal(18, 2)), 2, CAST(N'2025-09-05T04:29:06.500' AS DateTime), CAST(N'2025-09-05T04:33:51.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductAttributes] ON 

INSERT [dbo].[ProductAttributes] ([Id], [ProductId], [AttributeId], [Value]) VALUES (10001, 10000001, 1000, N'Regular')
INSERT [dbo].[ProductAttributes] ([Id], [ProductId], [AttributeId], [Value]) VALUES (10002, 10000001, 1001, N'Short')
INSERT [dbo].[ProductAttributes] ([Id], [ProductId], [AttributeId], [Value]) VALUES (10003, 10000003, 1000, N'Slim')
SET IDENTITY_INSERT [dbo].[ProductAttributes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl]) VALUES (2, 10000001, N'http://example.com/images/products/tshirt_black_side.jpg')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl]) VALUES (3, 10000001, N'http://example.com/images/products/tshirt_black_back.jpg')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl]) VALUES (4, 10000002, N'http://example.com/images/products/tshirt_white_side.jpg')
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [CategoryId], [ColorId], [MaterialId], [BrandId], [TotalStockQuantity], [IsActive], [IsHot], [IsDeleted], [MainImageUrl], [CreatedAt], [UpdatedAt]) VALUES (10000001, N'Classic Black T-Shirt', N'A comfortable and stylish black t-shirt.', CAST(15.00 AS Decimal(18, 2)), 10018, 10000, 10000, 10000, 50, 1, 1, 0, N'http://example.com/images/products/tshirt_black.jpg', CAST(N'2025-09-03T23:48:00.573' AS DateTime), CAST(N'2025-09-03T23:48:00.573' AS DateTime))
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [CategoryId], [ColorId], [MaterialId], [BrandId], [TotalStockQuantity], [IsActive], [IsHot], [IsDeleted], [MainImageUrl], [CreatedAt], [UpdatedAt]) VALUES (10000002, N'Casual White T-Shirt', N'A comfortable and stylish white t-shirt.', CAST(15.00 AS Decimal(18, 2)), 10018, 10001, 10000, 10000, 50, 1, 0, 0, N'http://example.com/images/products/tshirt_white.jpg', CAST(N'2025-09-03T23:48:00.573' AS DateTime), CAST(N'2025-09-03T23:48:00.573' AS DateTime))
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [CategoryId], [ColorId], [MaterialId], [BrandId], [TotalStockQuantity], [IsActive], [IsHot], [IsDeleted], [MainImageUrl], [CreatedAt], [UpdatedAt]) VALUES (10000003, N'Slim Fit Jeans', N'Classic slim fit jeans.', CAST(50.00 AS Decimal(18, 2)), 10020, 10002, 10001, 10002, 40, 1, 1, 0, N'http://example.com/images/products/jeans_blue.jpg', CAST(N'2025-09-03T23:48:00.573' AS DateTime), CAST(N'2025-09-03T23:48:00.573' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSizes] ON 

INSERT [dbo].[ProductSizes] ([itemSizeId], [TrackingId], [ProductId], [SizeId], [StockQuantity], [CreatedAt], [UpdatedAt]) VALUES (2, N'TB-01', 10000001, 100, 9, CAST(N'2025-09-03T23:48:00.597' AS DateTime), CAST(N'2025-09-03T23:48:00.597' AS DateTime))
INSERT [dbo].[ProductSizes] ([itemSizeId], [TrackingId], [ProductId], [SizeId], [StockQuantity], [CreatedAt], [UpdatedAt]) VALUES (3, N'TB-02', 10000001, 101, 20, CAST(N'2025-09-03T23:48:00.597' AS DateTime), CAST(N'2025-09-03T23:48:00.597' AS DateTime))
INSERT [dbo].[ProductSizes] ([itemSizeId], [TrackingId], [ProductId], [SizeId], [StockQuantity], [CreatedAt], [UpdatedAt]) VALUES (4, N'TB-03', 10000001, 102, 20, CAST(N'2025-09-03T23:48:00.597' AS DateTime), CAST(N'2025-09-03T23:48:00.597' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductSizes] OFF
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([Id], [SizeCode], [Name]) VALUES (100, 38, N'Size 38')
INSERT [dbo].[Sizes] ([Id], [SizeCode], [Name]) VALUES (101, 39, N'Size 39')
INSERT [dbo].[Sizes] ([Id], [SizeCode], [Name]) VALUES (102, 40, N'Size 40')
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Attribut__737584F6ABDE37CA]    Script Date: 9/6/2025 4:00:37 AM ******/
ALTER TABLE [dbo].[Attributes] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Brands__737584F664931B77]    Script Date: 9/6/2025 4:00:37 AM ******/
ALTER TABLE [dbo].[Brands] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Colors__737584F6C2733A9F]    Script Date: 9/6/2025 4:00:37 AM ******/
ALTER TABLE [dbo].[Colors] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Material__737584F65C812B09]    Script Date: 9/6/2025 4:00:37 AM ******/
ALTER TABLE [dbo].[Materials] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductS__3C19EDF08B5F86F8]    Script Date: 9/6/2025 4:00:37 AM ******/
ALTER TABLE [dbo].[ProductSizes] ADD UNIQUE NONCLUSTERED 
(
	[TrackingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Sizes__FA994BF6C08BEA23]    Script Date: 9/6/2025 4:00:37 AM ******/
ALTER TABLE [dbo].[Sizes] ADD UNIQUE NONCLUSTERED 
(
	[SizeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [TotalStockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsHot]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ProductSizes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductSizes] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([TrackingId])
REFERENCES [dbo].[ProductSizes] ([TrackingId])
GO
ALTER TABLE [dbo].[ProductAttributes]  WITH CHECK ADD FOREIGN KEY([AttributeId])
REFERENCES [dbo].[Attributes] ([Id])
GO
ALTER TABLE [dbo].[ProductAttributes]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ColorId])
REFERENCES [dbo].[Colors] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([Id])
GO
ALTER TABLE [dbo].[ProductSizes]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductSizes]  WITH CHECK ADD FOREIGN KEY([SizeId])
REFERENCES [dbo].[Sizes] ([Id])
GO
USE [master]
GO
